.card-box {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
}

.card-box h5 {
    margin-bottom: 15px;
}

input {
    background: #1e1e2f !important;
    color: white !important;
    border: none !important;
}

button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
}


/* روابط الناف */
.nav-link {
    position: relative;
    color: #ccc !important;
    transition: 0.3s;
    font-weight: 500;
}

.nav-link:hover {
    color: #fff !important;
    transform: translateY(-2px);
}

/* خط متحرك تحت الرابط */
.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #0d6efd;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    color: #fff !important;
}

.nav-link.active::after {
    width: 100%;
}

/* الأيقونات */
.nav-link i {
    margin-right: 6px;
    transition: 0.3s;
}

.nav-link:hover i {
    transform: scale(1.1);
}

/* تحسين الموبايل */
@media (max-width: 991px) {
    .nav-link {
        text-align: center;
        padding: 10px;
    }
}