.stat-card {
    background: rgba(255,255,255,0.07);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

.stat-card:hover {
    transform: translateY(-5px);
    background: rgba(255,255,255,0.12);
}

.stat-card i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0d6efd;
}

.logs-box {
    background: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 10px;
}

.logs-box ul {
    list-style: none;
    padding: 0;
}

.logs-box li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.progress-box {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
}

.clock-box {
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 10px;
}


/* روابط الناف */
.nav-link {
    position: relative;
    color: #ccc !important;
    transition: 0.3s;
    font-weight: 500;
}

.nav-link:hover {
    color: #fff !important;
    transform: translateY(-2px);
}

/* خط متحرك تحت الرابط */
.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #0d6efd;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    color: #fff !important;
}

.nav-link.active::after {
    width: 100%;
}

/* الأيقونات */
.nav-link i {
    margin-right: 6px;
    transition: 0.3s;
}

.nav-link:hover i {
    transform: scale(1.1);
}

/* تحسين الموبايل */
@media (max-width: 991px) {
    .nav-link {
        text-align: center;
        padding: 10px;
    }
}